.env
.env.*
!.env.example

/vendor/
/node_modules/
/public/build/
/storage/*.key
/storage/logs/*.log

composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb

/.phpunit.result.cache
/.DS_Store

/bootstrap/cache/*.php
/database/database.sqlite
